@import 'reset';
@import 'header';
@import 'course';
@import 'mycourses';
@import 'profile';
@import 'footer';
@import 'modules';
@import 'lesson';
@import 'login';
@import 'forgotPassword';
@import 'registration';


body{
    font-family: 'Montserrat';
    background-color: #FFEFE0;
}

a, button{
    cursor: pointer;
}

.container{
    max-width: 1730px;
    padding: 0 10px;
    margin: 0 auto;
}
.btn{
    color: #ffffff;
    background-color: #ED9B00;
    font-size: 32px;
}

.title{
    font-size: 50px;
    margin-bottom: 98px;
    font-weight: 600;
    text-align: left;
}

.socials{
    display: flex;
    align-items: center;
    gap: 24px;
}
.all-courses{
    padding: 130px 0;
}
.courses-list{
    display: flex;
    flex-wrap: wrap;
    gap: 75px;
}

.btn{
    font-size: 30px;
    color: #FFFFFF;
    padding: 27px 35px;
    background-color: #ED9B00;
    border-radius: 24px;
}
.btn-wrapper{
    display: flex;
    justify-content: center;
}

video{
    height: 720px;
    width: 1280px;
}

.lesson-component{
    padding: 60px 0;
    &__content{
        display: flex;
        gap: 58px;
        justify-content: space-between;
        margin-bottom: 44px;
    }
}
.lesson-info{
    background-color: #ffffff;
    padding: 45px 50px;
    max-width: 1180px;
    &__title{
        font-size: 36px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    &__description{
        font-size: 24px;
        margin-bottom: 90px;
    }
    &__resources{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: 24px;
        margin-bottom: 80px;
    }
    &__link, &__download{
        display: flex;
        align-items: center;
        gap: 12px;
    }
    &__icon{
        width: 100%;
        max-width: 45px;
    }
    &__button{
        padding: 18px 92px;
    }
}
.lesson-aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    width: 100%;
    min-width: 412px;
    padding: 20px 14px;
    border: 1px solid #C4B8B8;

    &__module {
        padding: 34px 24px;
    }

    &__title {
       font-size: 32px;
       margin-bottom: 23px;
       margin-right: -14px;
       font-weight: 600;
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__lesson{
        font-size: 20px;
        padding: 34px 24px;
        background-color: #F8F5F5;
        border: 1px solid #C4B8B8;
        &-info{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }
}