html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  background-color: transparent;
  border: none;
}

.header {
  background-color: #F6C25F;
}
.header__inner {
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.header__nav {
  margin-right: auto;
}
.header__list {
  display: flex;
  gap: 72px;
  font-size: 24px;
  font-weight: 500;
}
.header__list-item {
  transition: transform 0.3s;
}
.header__list-item:hover {
  transform: scale(1.05);
}
.header__search {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 100px;
}
.header__search-img {
  max-width: 60px;
}
.header__search-input {
  font-size: 24px;
  padding: 10px 20px;
  max-width: 165px;
}
.header__search-input::-moz-placeholder {
  color: #000000;
}
.header__search-input::placeholder {
  color: #000000;
}
.header__search-input:focus {
  border: none;
}
.header__profile {
  display: flex;
  align-items: center;
  gap: 44px;
}
.header__profile-img {
  border-radius: 50%;
  max-width: 88px;
}
.header__profile-name {
  font-size: 28px;
}
.header .logo {
  max-width: 120px;
  max-height: 120px;
  margin-right: 67px;
}

.course {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 520px;
  border: 1px solid #C4B8B8;
  padding: 45px 39px;
  transition: transform 0.3s;
  background-color: #FFFFFF;
}
.course__img {
  max-width: 442px;
  margin-bottom: 50px;
}
.course__progress {
  font-size: 18px;
  margin-bottom: 20px;
}
.course__category {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 30px;
}
.course__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}
.course__details {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 16px;
  margin-bottom: 20px;
}
.course__rating {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 600;
}
.course__rating-img {
  max-width: 30px;
}
.course__description {
  font-size: 16px;
  max-width: 442px;
  line-height: 1.2;
}
.course:hover {
  transform: scale(1.05);
}

.mycourses {
  padding: 130px 0 290px;
  background-color: #FFEFE0;
}

body {
  font-family: "Montserrat";
}

a {
  cursor: pointer;
}

.container {
  max-width: 1730px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: 50px;
  margin-bottom: 98px;
  font-weight: 600;
  text-align: left;
}

.socials {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer {
  background-color: #2c2a30;
  padding: 55px 0;
  color: #ffffff;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  text-align: left;
}
.footer .logo {
  max-width: 145px;
}/*# sourceMappingURL=styles.css.map */